.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button-container {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  justify-content: center;
}

.button {
  padding: 10px;
  border: chocolate 1px solid;
  border-radius: 10px;
  margin: 5px;
  cursor: pointer;
}

.header {
  font-size: 3em;
  color: antiquewhite;
  padding: 40px;
}

.side {
  font-size: 2em;
  color: antiquewhite;
  margin-top: 20px;
  margin-bottom: 10px;
  display: none;
}

.footer {
  padding: 10px;
  font-size: 1.5em;
  color: white;
  display: flex;
  flex-direction: row;
}

.circle {
  border-radius: 25px;
  border: rgb(135, 135, 135) 1px solid;
  color: rgb(135, 135, 135);
  width: 50px;
  height: 50px;
  text-align: center;
  margin: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.circle:hover {
  color: wheat;
  border: 1px wheat solid;
}

@media only screen and (max-width: 650px) {
  .button-container {
    margin-top: 10px;
  }  
  .header {
    font-size: 2em;
  }
  .side {
    display: block;
  }
}
