.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button-container {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  justify-content: center;
}

.button {
  padding: 10px;
  border: chocolate 1px solid;
  border-radius: 10px;
  margin: 5px;
  cursor: pointer;
}

.header {
  font-size: 3em;
  color: antiquewhite;
  padding: 40px;
}

@media only screen and (max-width: 650px) {
  .button-container {
    margin-top: 10px;
  }  
  .header {
    font-size: 2em;
  }
}
